<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!group.id">New group</ion-title>
        <ion-title *ngIf="group.id">{{ group.name }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list inset>
        <form [ngFormModel]="form">
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input type="text" ngControl="name" [(ngModel)]="group.name"></ion-input>
            </ion-item>
            <div class="button-bar">
                <button class="button icon-left button-positive" [disabled]="!form.valid" (click)="save(group.id)">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>Save
                </button>
                <button class="button icon-left button-positive" (click)="back()">
                    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>Back
                </button>
            </div>
        </form>
    </ion-list>
    <ion-list inset *ngIf="group.id">
        <form [ngFormModel]="form">
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-select [(ngModel)]="selectedContactId">
                    <ion-option *ngFor="let contact of remainingContacts" [value]="contact.id">
                        {{ contact.firstName + ' ' + contact.lastName }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <div class="button-bar">
                <button class="button icon-left button-positive" (click)="addSelectedContact(selectedContactId)" (disabled)="!selectedContactId">
                    <ion-icon name="add" ios="ios-add-circle" md="md-add-circle"></ion-icon>Add
                </button>
            </div>
        </form>
    </ion-list>
    <ion-list>
        <table style="width: 50%; margin-left: 25%;">
            <tr *ngFor="let contactGroup of contactGroups">
                <td style="width: 90%;">
                    <button ion-item (click)="show($event, contactGroup.contact.id)">
                    <ion-icon name="{{contactGroup.contact.imageUrl}}"></ion-icon>
                    {{ contactGroup.contact.firstName + ' ' +contactGroup.contact.lastName }}
                </button>
                </td>
                <td>
                    <button type="button" class="button icon-left button-positive" (click)="removeContact(contactGroup.id)">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>
                </td>
            </tr>
        </table>
    </ion-list>
</ion-content>
